{% extends "layout.html" %}

{% block title %}
    Quote stock
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <h5>Please input stock below:</h5>
        </div>
        <div class="form-group">
            <input autocomplete="off" autpfocus class="form-control" name="symbol" placeholder="Stock symbol" type="text" />
        </div>
        <div class ="form-group">
            <button class="btn btn-primary" type="submit">Find</button>
        </div>

    </form>
{% endblock %}